
@font-face {
    font-family: BYekan;
    src: url(../assets/fonts/Yekan.ttf);
}

@font-face{
    font-family: FontAwesome;
    src: url(../assets/fonts/FontAwesome/fontawesome-webfont.ttf);
}

body{
    direction: rtl;
    font-family: 'BYekan';
}

input.bg-transparent-haber,
textarea.bg-transparent-haber{
    background-color: rgba(0, 0, 0, .4);
}

a:hover{
    color: #dc6226 !important;
}

@import "./components/button";

.haber-header{
    background-image: url(../assets/images/mt-0239-home-pattern-light-gray.jpg);
}

.bg-haber-light{
    background-image: url(../assets/images/mt-0239-home-pattern-white.jpg);
}

.haber-control{
    position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    position: absolute;
    bottom: 30px;
}

.carousel-control-next {
    right: 20% !important;
    z-index: 100 !important;
}

.carousel-control-prev {
    left: 20% !important;
    z-index: 100 !important;
}

.carousel-caption{
    right: 25% !important;
    left: 25% !important;
    bottom: 0;
}

.bg-haber{
    background-color: #dc6226;
}

.text-haber{
    color: #dc6226;
}

a, a:hover{
    color: #fff;
    text-decoration: none;
}

.owl-carousel .owl-dots{
    display: none;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 20px;
    right:0;
    font-size: 2rem;
    /* display: inline-block; */

}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 20px;
    left:0;
    font-size: 2rem;
    /* display: inline-block; */

}

.bg-contact{
    background: url(../assets/images/mt-0239-home-parallax1.jpg) no-repeat center/ cover fixed;
}

.advice{
    a{
        i{
            font-size: 1.8rem !important;
            color: #404b52;
        }
        i:hover{
            color: #dc6226 !important;
        }
    }
}

.navbar-nav{
    .fa{
        font-size: 1.5rem;
        &:hover{
            color: #dc6226 !important;
        }
    }
}

.addres{
    background: url(../assets/images/mt-0239-home-pattern-gray.jpg);
}
